.membersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;

  justify-content: center;
}

.memberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.memberCard img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 0.8rem;
}

.memberName {
  margin-top: 0.75rem;
  margin-bottom: 0rem;
}

.memberInstrument {
  margin: 0;
}


