.carousel {
    position: relative;
    width: 100%;
    aspect-ratio: 2.35/1; /* desktop */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
@media (max-width: 768px) {
  .carousel {
    aspect-ratio: 16 / 10;
  }
} */

.slide {
  /* border-radius: 0.5rem; */
  /* box-shadow: 0px 0px 7px #666; */
  width: 100%;
  height: 100%;
  object-fit: cover; /* not sure if necessary */
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
  align-items: center;
}

.indicator {
  flex: 0 0 auto;
  aspect-ratio: 1 / 1;
  background-color: white;
  min-width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: var(--color-grey);
}