.contactLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contactText {
  margin: 0.2rem;
}

.contactLink img {
    display: block;
}

.contactLink.red {
    color: var(--color-red);
}

.contactLink.white {
    color: white;
}