.contactLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

/* .contactText {
  font-size: 0.9rem;
} */

.contactLink img {
    display: block;
}

.contactLink.small img {
    height: 18px;
    width: auto;
}

.contactLink.large img {
    height: 24px;
    width: auto;
}

.contactLink.red {
    color: var(--color-red);
}

.contactLink.white {
    color: white;
}