.siteFooter {
  padding: 4rem 0rem;   /* only vertical padding */
  position: relative;
}

/* allow background color to reach full-screen-width */
.siteFooter::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-red);

  width: 100vw;
  left: 50%;
  transform: translateX(-50%);

  z-index: -1;
}

.footerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-inline: auto;
  flex-wrap: wrap; /* allows wrapping on mobile */
  gap: 1rem;
}

.bandName {
  color: white;
}

.footerBandInfo p,
.footerCredits p {
  margin: 0.1rem 0;
  color: white;
}

.footerCredits {
  text-align: right;
}
