.pageContainer {
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: clamp(1rem, 4vw, 6rem);
    box-sizing: border-box;
    background-color: var(--color-white);
}

/* Allows carousel to expand over pageContainer width */
.carouselContainer {
    width: 100vw;        
    margin-left: 50%;    
    transform: translateX(-50%);
    padding-inline: 0;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    padding: 0.5rem 0rem;
    position: relative;
}

.headerMenu {
    display: flex;
    gap: 1.5rem;
}

.headerMenu a {
    font-size: 1rem;
}

.headerIcons {
    display: flex;
    gap: 1.5rem;
}

.headerIcons img {
    display: block;
    width: auto;
    height: 30px;
}

.headerLogo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.headerLogo img {
    height: 96px;
    width: auto;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--color-red);
    cursor: pointer;
}

/* hide mobile menu in desktop view */
.mobileMenu {
    display: none;
}

.contact,
.members {
    margin-top: 3rem;
    /* padding: 0rem 20rem; */
}
