.pageContainer {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    padding-inline: clamp(1.5rem, 4vw, 6rem);
    box-sizing: border-box;
    background-color: var(--color-white);
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--color-white);
    padding: 0rem 0rem;
}

.headerMenu,
.headerIcons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.headerMenu a {
    display: inline-flex; /* or flex */
    align-items: center;
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
}

.headerMenu a,
.headerIcons img {
    transition: opacity 0.2s ease;
    transition: transform 0.2s ease;
}

.headerMenu a:hover {
    transform: scale(1.05); /* grows 10% on hover */
    opacity: 1;
}
.headerIcons img:hover {
    transform: scale(1.1); /* grows 10% on hover */
    opacity: 1;
}

.headerLogo {
    flex: 1;               /* take remaining space */
    display: flex;
    justify-content: center;    /* horizontally center logo */
}

.headerLogo img {
    height: 96px;
    width: auto;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--color-red);
}

/* hide mobile menu in desktop view */
.mobileMenu {
    display: none;
}

/* Allows carousel to expand over pageContainer width */
.carouselContainer {
    width: 100vw;        
    margin-left: 50%;    
    transform: translateX(-50%);
    padding-inline: 0;
}

.contact {
    margin-top: 4rem;
}

.members,
.siteFooter
 {
    margin-top: 6rem;
}

.mainContactLinks {
    margin-top: 2rem;
}