.pageContainer {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    padding-inline: clamp(1rem, 4vw, 6rem);
    box-sizing: border-box;
    background-color: var(--color-white);
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--color-white);
    padding: 0.5rem 0rem;
}

.bottomRow1,
.bottomRow2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* margin: 0; */
}

.headerMenu,
.headerIcons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.headerMenu a {
    display: inline-flex; /* or flex */
    align-items: center;
    font-size: 1rem;
}

.headerIcons img {
    display: block;
    width: auto;
    height: 30px;
}

.headerLogo {
    flex: 1;               /* take remaining space */
    display: flex;
    justify-content: center; /* horizontally center logo */
}

.headerLogo img {
    height: 96px;
    width: auto;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--color-red);
}

/* hide mobile menu in desktop view */
.mobileMenu {
    display: none;
}

/* Allows carousel to expand over pageContainer width */
.carouselContainer {
    width: 100vw;        
    margin-left: 50%;    
    transform: translateX(-50%);
    padding-inline: 0;
}

.contact,
.members,
.siteFooter
 {
    margin-top: 6rem;
    /* padding: 3rem; */
}
