@media (max-width: 768px) {    
    .headerContainer {
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content: flex-end; /* Right align */
        align-items: center;
    }

    .headerMenu,
    .headerIcons {
        display: none;
    }

    .hamburger {
        display: flex; 
    }

    .mobileMenu {
        position: static;
        top: 100%;
        width: 100%;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0.3rem;    /* padding between logo and menu items */
    }

    .mobileMenu a {
        margin: 0.25rem 0; /* vertical spacing of menu items */
        font-family: var(--font-heading);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.9rem;
    }

    /* icons align horizontally */
    .mobileIcons {
        display: flex;
        gap: 1rem;
        margin: 0.5rem;
    }

    /* Change carousel aspect ratio */
    .carouselContainer .carousel {
        aspect-ratio: 16 / 10;
    }

    .contact {
        margin-top: 3rem;
    }

    .members {
        margin-top: 4rem;
    }

    .membersGrid {
        grid-template-columns: repeat(auto-fit, 200px);
    }

    .bandName {
        text-align: left;
    }
    .footerContent {
        flex-direction: column;
        text-align: left;
        /* align-items: center; */
    }

    .footerCredits {
        text-align: left;
    }

    .siteFooter {
        padding: 3rem 0rem;   /* only vertical padding */
    }
}