@media (max-width: 768px) {    
    .headerContainer {
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content: flex-end; /* Right align */
        align-items: center;
    }

    .headerMenu,
    .headerIcons {
        display: none;
    }

    .hamburger {
        display: flex; 
    }

    .mobileMenu {
        position: static;
        top: 100%;
        width: 100%;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0.5rem;    /* padding between logo and menu items */
    }

    .mobileMenu a {
        margin: 0.25rem 0; /* vertical spacing of menu items */
    }

    .mobileIcons {
        display: flex;
        gap: 1rem;
        margin-top: 0.5rem;
    }

    .mobileIcons img {
        height: 24px;
    }

    /* Change carousel aspect ratio */
    .carouselContainer .carousel {
        aspect-ratio: 16 / 10;
    }

    .contact,
    .members {
        padding: 0rem 1rem;     /* add horizontal padding */
    }
}