/* FONT VARIABLES */
:root {
  --font-body: 'Montserrat', 'Helvetica Neue', sans-serif;
  --font-heading: 'Oswald', 'Helvetica Neue', sans-serif;
  --color-text: #531C0F;
  --color-white: #F9EBD9;
}

/*GLOBAL RESETS */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

/* ----------------------------
   3. GLOBAL TYPOGRAPHY
----------------------------- */
body {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 15px;
  color: var(--color-text);
  /* line-height: 1.6; */
}

/* ----------------------------
   4. HEADINGS
----------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--color-text);
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem; /* 40px roughly */
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.landing {
  height: 90vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-image: url('/src/assets/bg-1-fullsize-cropped.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainLogo {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: clamp(320px, 24vw, 400px);
  height: auto;
}

.menuMain {
  top: 2rem;
}

.menuIcons {
  bottom: 2rem;
}

.menuMain, .menuIcons {
  position: absolute;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--color-white);
  font-weight: 500;
  font-size: 1rem;
}

.menuMain span,
.menuIcons .icon {
  cursor: pointer;
  transition: opacity 0.2s ease;
  transition: transform 0.2s ease;
  display: inline-block;          /* ensures transform works nicely */
}

.menuMain span:hover,
.menuIcons .icon:hover {
  transform: scale(1.1); /* grows 10% on hover */
  opacity: 1;            /* keep opacity unchanged */
}

.about {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('/src/assets/bg-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-content {
  position: relative;
  /* color: #531C0F; */
  text-align: center; 
  max-width: 600px;   /* controls the width of the text block */
  margin: 0 auto;     /* centers it horizontally */
  padding: 2rem;
  z-index: 1;
  text-align: center; /* centers text inside */
}